/*
    General Styles
*/
@import '~bootstrap/dist/css/bootstrap.css';
@import 'to-delete';

.bc-popover{
    background: white;
    border: 2px solid var(--color-grey-200);
    border-radius: 5px;
    padding: 5px 5px 5px 25px;
    margin-bottom: 0px;
    max-width: 300px;
    li{ list-style-type: disc; }
}
.timeline ul li:hover{
    background: #f8f9fa;
}
.chiller-theme .sidebar-wrapper{
    background: var(--color-grey-100);
}
.bcdroplink.dropdown .btn.dropdown-toggle{
    font-size: inherit !important;
    padding: 0;
}
.dayview{
    .description{
        h3:before{ content: ''; margin: 0; }
        border: 2px solid var(--color-grey-200);
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0px;
        width: 100%;
        background: white;
        .info-bar{
            margin-top: 5px;
            padding: 5px 0px 0px 0px;
            border-top: 1px solid var(--color-grey-200);
            margin-bottom: 5px;
        }
        .a, .dropdown-toggle{
            color: var(--color-primary-light);
        }
        .a:hover{
            cursor: pointer;
            text-decoration: underline;
        }

    }
    .instructions{
        padding: 0;
        margin: 0;
    }
}
@media screen and (min-width: 768px){
    body .page-wrapper .page-content{
        padding-top: 0;
        padding-right: 0;
    }
    body .page-wrapper.toggled .page-content{
        padding-top: 0;
        padding-left: 260px;
        padding-right: 0;
    }
}
.bcnotifier {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
}
.bcnotifier li{
    margin: 0;
}