.bc-loading-bar, .loading{
    z-index: 999;
}
.sidebar-wrapper{
    z-index: 10;
}
h1:before,h2:before,h3:before{
    content: '# ';
    margin-left: -10px;
    font-size: 50%;
    color: var(--color-grey-600);
}

.bc-readme{
    li{ list-style-type: disc; }
}